/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

body {
	padding-top: 50px;
}

#mapWrapper {
	position: absolute;
	top: 50px;
	width: 70%;
	height: 96%;
}

.sidebar {
	position: absolute;
	top: 50px;
    left: 71%;
    width: 30%;
    height: 96%;
}