.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,body {
  padding: 0;
  height:100%;
}

ul
{
list-style-type: none;
}




/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
  z-index: 1;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* For d3 style */
.axis path,
.axis line {
 fill: none;
 stroke: #000;
 shape-rendering: crispEdges;
}

.x.axis path {
 display: none;
}

.line {
 fill: none;
 stroke: steelblue;
 stroke-width: 1.5px;
}
/*
For google map*/
.gmap{
    width:100%;
}
.normal-map{
  height: 450px;
  margin-bottom:20px;
}

.mashup-map{
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  z-index: -1;
}

.map-widget{
  width:90%;
  background-color:#fff;
}

/* For bootstrap*/
.container{
  height:100%;
}
.view-container{
  height:100%;
  z-index: 1;
}
.checkbox{
  padding: 10px;
}

#main, #main>.row {
  height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
  height:100%;
}

.simple-map {
  width:66.6666%;
    height:calc(100% - 0);
    position:absolute;
    right:16px;
    top:0;
    bottom:0;
    overflow:hidden;
}

/*Spinner*/
.spinner-active{
  background-color:#777;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  opacity:0.5;
  z-index:5;
}

.spinner-inactive{
  
}

.fade{
  display:none;
}

.fade.in{
  display:block;
}

.map-label {
     color: #555;
     background-color: #fafafa;
     border-radius: 2px;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;
     white-space: nowrap;
     box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, .4);
   }

#apt-list{
  margin-left: -50px;
}
.apt-box{
  width:100%;
  padding: 10px;
  border-bottom: 1px solid #ccc
}
.apt-box:hover{
  background-color:#eee; 
}

.rent{
  font-family: "Open Sans", open-sans, Arial, "Helvetica Neue", sans-serif;
}

.apt-size{
  font-size: 14px;
  font-weight: bold;
  color: #82888a;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.histogram {
      margin-bottom: -35px;
      text-align: right;
}

.histogram span {
        margin-right: 0px;
        font-size: 0;
        display: inline-block;
        vertical-align: bottom;
        background: rgba(156, 162, 153, 0.5);
}
.custom-slider {
  margin-bottom: 40px;
}

.custom-slider .rz-bubble{
  bottom:-36px;
}

.custom-slider .rz-pointer{
  border: 1px solid #aaa;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 24px;
  outline: none;
  position: absolute;
  z-index: 2;
  width: 24px;
  top:-10px;
}

.custom-slider .rz-active{
  background: #fff;
}
.custom-slider .rz-active:after{
  background: #fff;
}

.custom-slider-factor {
  margin-top: 0px;
  margin-bottom: 0px;
}

.custom-slider-factor .rz-bubble{
  display: none;
}

.sort-type-list{
  margin-top: 15px;
}


.widget-dropdown{
  color:#777;
  display: inline-block;
  width:45%;
  
  margin-right: 2%;
}

.widget-dropdown:after{
  margin-left: 15px;
  right: 5%;
  border-color: #888 transparent;
}

.widget-dropdown .dropdown{
  z-index: 5;
}

.widget-dropdown .dropdown li a{
  color:#777;
}
.apt-box{
  cursor: pointer;
}
.apt-size{
  margin-top: 5px;
  margin-bottom: -15px;
}
.factor-name{
  margin-bottom:-20px;
}
.chart-custom{
  width:100%;
  height:400px;
}

.solidArc:hover {
  fill: orangered ;
}

.solidArc {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.x.axis path {
  display: none;
}

.aster-score { 
  line-height: 1;
  font-weight: bold;
  font-size: 500%;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

svg{
  z-index: 100;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}