html,body {
    height:100%;
    overflow: hidden;
}

#location-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  background: none;
}

#price-panel {
  position: absolute;
  top: 55px;
  right: 10px;
  z-index: 5;
  background: none;
}


@media (min-width: 768px){
  #leftcol {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 34%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
  }
  #rightcol {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 66%;
    padding: 0;
  }
}

#map {
    width: 100%;
    height: 100%;
}


#chart1, #chart2, #chart3 {
    height: 110px;
    width: 100%;
    font: 10px sans-serif;
}

#chart-temp {
    height: 180px;
    width: 100%;
    font: 10px sans-serif;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}

.bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.text {
  fill: #fff;
}

polygon {
    fill: #999966;
    stroke: #7a7a52;
    stroke-width: 2;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 20px;
    padding: 2px;
    font: 11px sans-serif;
    color: #fff;
    background: #1f1f14;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}


/* tooltip http://jsfiddle.net/8nnwytbL/ */
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 1.4;
    min-width: 180px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
