
<!-- <div class="container-full" ng-controller="MashupCtrl as mashupCtrl">
<span ng-class="{'spinner-active':spinneractive}" us-spinner="{color: '#000', radius:30, width:8, length: 16}" spinner-key="map-spinner"></span>

<div class="col-lg-4">
          <map-widget></map-widget>
</div>

<div class="col-lg-8">
          <div simple-map class="gmap" id="map_canvas"></div>
</div>


</div> -->


<div simple-map class="gmap simple-map" id="map_canvas"></div>
<div class="container-fluid" id="main" ng-controller="MashupCtrl as mashupCtrl">
  <span ng-class="{'spinner-active':spinneractive}" us-spinner="{color: '#000', radius:30, width:8, length: 16}" spinner-key="map-spinner"></span>
  <div class="row">
  	<div class="col-xs-4" id="left">
    	<map-widget></map-widget>
    </div>
    <div class="col-xs-8"><!--map-canvas will be postioned here--></div>
    
  </div>
</div>